Repository mojnp/mvp, pull requests merged in 2023-06, with the labels that each got.

#7 Mantine hooks setup, mobileUI and desktopUI components and Header component with react-router library
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/DesktopUI/DesktopUI.tsx
  frontend/src/components/DesktopUI/Footer/Footer.css
  frontend/src/components/DesktopUI/Footer/Footer.tsx
  frontend/src/components/DesktopUI/Header/Header.css
  frontend/src/components/DesktopUI/Header/Header.tsx
  frontend/src/components/DesktopUI/Header/HeaderNavLink.tsx
  frontend/src/components/DesktopUI/News/HelperNews/HelperNews.css
  frontend/src/components/DesktopUI/News/HelperNews/MainNews.tsx
  frontend/src/components/DesktopUI/News/HelperNews/NewsItem.tsx
  frontend/src/components/DesktopUI/News/HelperNews/SecondaryNews.tsx
  frontend/src/components/DesktopUI/News/News.css
  frontend/src/components/DesktopUI/News/News.tsx
  frontend/src/components/MobileUI/FooterMobile/FooterMobile.css
  frontend/src/components/MobileUI/FooterMobile/FooterMobile.tsx
  frontend/src/components/MobileUI/HeaderMobile/HeaderMobile.css
  frontend/src/components/MobileUI/HeaderMobile/HeaderMobile.tsx
  frontend/src/components/MobileUI/MobileUI.tsx
  frontend/src/components/MobileUI/NewsMobile/NewsMobile.css
  frontend/src/components/MobileUI/NewsMobile/NewsMobile.tsx
  frontend/src/index.css
Labels: enhancement, UI, PRIORITY, news

#8 Page redesign
  frontend/src/components/DesktopUI/Footer/Footer.css
  frontend/src/components/DesktopUI/Footer/Footer.tsx
  frontend/src/components/DesktopUI/Header/Header.css
  frontend/src/components/DesktopUI/Header/Header.tsx
  frontend/src/components/DesktopUI/News/HelperNews/HelperNews.css
  frontend/src/components/DesktopUI/News/HelperNews/MainNews.tsx
  frontend/src/components/DesktopUI/News/HelperNews/NewsItem.tsx
  frontend/src/components/DesktopUI/News/News.css
  frontend/src/components/DesktopUI/News/News.tsx
  frontend/src/index.css
Labels: enhancement, UI, news, frontend

#13 Hp/news router
  Spacefile
  backend/app/.gitignore
  backend/app/__pycache__/main.cpython-311.pyc
  backend/app/database/__pycache__/__init__.cpython-311.pyc
  backend/app/database/__pycache__/db.cpython-311.pyc
  backend/app/news/__pycache__/__init__.cpython-311.pyc
  backend/app/news/__pycache__/exceptions.cpython-311.pyc
  backend/app/news/__pycache__/news_router.cpython-311.pyc
  backend/app/news/data_access/__pycache__/__init__.cpython-311.pyc
  backend/app/news/data_access/__pycache__/news.cpython-311.pyc
  backend/app/news/helpers/__pycache__/__init__.cpython-311.pyc
  backend/app/news/helpers/__pycache__/feed.cpython-311.pyc
  backend/app/news/helpers/feed.py
  backend/app/news/logic/__pycache__/__init__.cpython-311.pyc
  backend/app/news/logic/__pycache__/news_logic.cpython-311.pyc
  backend/app/news/repository/__pycache__/__init__.cpython-311.pyc
  backend/app/news/repository/__pycache__/news_repo.cpython-311.pyc
  backend/app/news/routers/__pycache__/__init__.cpython-311.pyc
  backend/app/news/routers/__pycache__/news.cpython-311.pyc
  backend/app/news/routers/__pycache__/news_crud.cpython-311.pyc
  backend/app/news/schemas/__pycache__/__init__.cpython-311.pyc
  backend/app/news/schemas/__pycache__/news.cpython-311.pyc
  backend/app/news/schemas/news.py
  backend/app/report/__pycache__/__init__.cpython-311.pyc
  backend/app/report/__pycache__/report.cpython-311.pyc
  backend/app/report/logic/__pycache__/__init__.cpython-311.pyc
  backend/app/report/logic/__pycache__/repo_logic.cpython-311.pyc
  backend/app/report/repo/__pycache__/__init__.cpython-311.pyc
  backend/app/report/repo/__pycache__/report_repo.cpython-311.pyc
  backend/app/report/routers/__pycache__/__init__.cpython-311.pyc
  backend/app/report/routers/__pycache__/report_router.cpython-311.pyc
  backend/app/report/schemas/__pycache__/report.cpython-311.pyc
  backend/app/requirements.txt
  backend/app/tourism/__pycache__/__init__.cpython-311.pyc
  backend/app/tourism/__pycache__/tourism_router.cpython-311.pyc
  backend/app/tourism/data_access/__pycache__/__init__.cpython-311.pyc
  backend/app/tourism/data_access/__pycache__/tourism_db.cpython-311.pyc
  backend/app/tourism/logic/__pycache__/__init__.cpython-311.pyc
  backend/app/tourism/logic/__pycache__/tourism_logic.cpython-311.pyc
  backend/app/tourism/repository/__pycache__/__init__.cpython-311.pyc
  backend/app/tourism/repository/__pycache__/tourism_repo.cpython-311.pyc
  backend/app/tourism/routers/__pycache__/__init__.cpython-311.pyc
  backend/app/tourism/routers/__pycache__/tourism.cpython-311.pyc
  backend/app/tourism/schemas/__pycache__/__init__.cpython-311.pyc
  backend/app/tourism/schemas/__pycache__/tourism_schema.cpython-311.pyc
  backend/requirements.txt
Labels: bug, enhancement, PRIORITY, patch, performance, news, backend

#17 Desktop Redesign
  Spacefile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/DesktopUI/Header/Header.css
  frontend/src/components/DesktopUI/Header/Header.scss
  frontend/src/components/DesktopUI/Header/Header.tsx
  frontend/src/components/DesktopUI/Header/HeaderNavLink.tsx
  frontend/src/components/DesktopUI/News/HelperNews/HelperNews.css
  frontend/src/components/DesktopUI/News/HelperNews/HelperNews.scss
  frontend/src/components/DesktopUI/News/HelperNews/MainNews.tsx
  frontend/src/components/DesktopUI/News/HelperNews/NewsItem.tsx
  frontend/src/components/DesktopUI/News/HelperNews/SecondaryNews.tsx
  frontend/src/components/DesktopUI/News/News.css
  frontend/src/components/DesktopUI/News/News.scss
  frontend/src/components/DesktopUI/News/News.tsx
  frontend/src/components/MobileUI/NewsMobile/HelperNewsMobile/MainNewsFetchMobile.tsx
  frontend/src/components/MobileUI/NewsMobile/NewsMobile.tsx
  frontend/src/index.css
  frontend/src/index.scss
  frontend/src/main.tsx
  frontend/src/utils/CodeProLC.otf
Labels: enhancement, UI, news, frontend

#19 Fixed issues
  frontend/src/components/DesktopUI/Tourism/HelperTourism/TourismSection.tsx
  frontend/src/components/MobileUI/TourismMobile/HelperTourismMobile/TourismSectionMobile.tsx
  frontend/src/components/MobileUI/TourismMobile/TourismMobile.tsx
Labels: bug, enhancement, patch
